.mood-songs{
    display: flex;
    flex-direction: column;
    padding: 10rem ;
    /* align-items: center; */
}

.title{
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */
}